.card {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    /* flex-flow: wrap; */
    align-items: center;
    margin-top: 20px;
}

.card__question {
    flex: 1 400px;
    border: 1px solid #fefefe;
    border-radius: 10px;
    background: blanchedalmond;
    padding: 10px;
}

.card__question:hover {
    background: cornsilk;
}